<template>
  <div>
    <v-btn
      :type="type"
      @click="handel_click"
      :class="[my_class , 'mb-4','ma-1']"
      :elevation="elevation"
      raised
      :disabled="disabled"
      :color="color"
      :height="height"
      :loading="loading_btn"
      :nuxt="nuxt"
      :replace="replace"
      :rounded="rounded"
      :shaped="shaped"
      :text="text"
      :width="width"
      :x-small="x_small"
      :x-large="x_large"
      :plain="plain"
      :outlined="outlined"
      :icon="icon"
      >{{ name_btn }}</v-btn
    >
  </div>
</template>
    
    <script>
export default {
  props: {
    name_btn: String,
    my_class: {
      type: String,
    },
    hide: {
      type: Boolean,
    },
    type: {
      type: String,
      require: true,
    },
    disabled: {
      type: Boolean,
      default: false,
      require: false,
    },
    icon: {
      type: Boolean,
      default: false,
      require: false,
    },
    color: {
      type: String,
      default: "white",
      require: true,
    },
    elevation: {
      type: Number,
      default: 3,
      require: true,
    },
    height: {
      type: Number,
      default: 30,
      require: true,
    },
    loading_btn: {
      type: Boolean,
      default: false,
      require: true,
    },
    nuxt: {
      type: Boolean,
      default: false,
      require: false,
    },
    outlined: {
      type: Boolean,
      default: false,
      require: false,
    },
    plain: {
      type: Boolean,
      default: false,
    },
    replace: {
      type: Boolean,
      default: false,
      require: false,
    },
    rounded: {
      type: Boolean,
      default: false,
      require: false,
    },
    shaped: {
      type: Boolean,
      default: false,
      require: false,
    },
    text: {
      type: Boolean,
      default: true,
      require: true,
    },
    x_small: {
      type: Boolean,
      default: true,
      require: false,
    },
    x_large: {
      type: Boolean,
      default: false,
      require: false,
    },
    width: {
      type: Number,
      default: 80,
      require: true,
    },
  },
  data() {
    return {};
  },
  methods: {
    handel_click() {
      this.$emit("submitEvent");
    },
  },
};
</script>
    <style>
</style>
    
    
    