<template>
  <v-app>
    <v-img
      class="img"
      src="https://e1.pxfuel.com/desktop-wallpaper/646/773/desktop-wallpaper-login-page-login.jpg"
      cover
    >
      <div>
        <v-container>
          <v-row>
            <v-col>
              <v-data-table
                v-bind="$attrs"
                v-on="$listeners"
                :headers="headers"
                :loading="loading"
                :items="items"
                :items-per-page="items_per_page"
                class="elevation-8 footer"
                :action_btn="action_btn"
                :items-per-page-all-text="items_per_page_alltext"
                :checkbox-color="check_box_color"
                :caption="caption"
                :calculate-widths="cal_culate_widths"
                :custom-filter="custom_filter"
                :custom-group="custom_group"
                :custom-sort="custom_sort"
                :dark="dark"
                :dense="dense"
                :disable-filtering="disable_filtering"
                :disable-pagination="disable_pagination"
                :disable-sort="disablesort"
                :expand-icon="expandicon"
                :expanded="expanded"
                :filter-mode="filter_mode"
                :fixed-header="fixed_header"
                :footer-props="footer_props"
                :group-desc="group_desc"
                :header-props="header_props"
                :headers-length="headers_length"
                :height="height"
                :hide-default-footer="hide_default_footer"
                :hide-default-header="hide_default_header"
                :item-class="item_class"
                :item-key="item_key"
                :item-style="item_style"
                :light="light"
                :loader-height="loader_height"
                :loading-text="loading_text"
                :locale="locale"
                :mobile-breakpoint="mobile_break_point"
                :multi-sort="multisort"
                :must-sort="must_sort"
                :no-results-text="no_results_text"
                :page="page"
                :selectable-key="selec_table_key"
                :server-items-length="server_items_length"
                :show-expand="show_expand"
                :show-group-by="show_group_by"
                :show-select="show_select"
                :single-expand="single_expand"
                :single-select="single_select"
                :sort-by="sort_by"
                :sort-desc="sort_desc"
              >
                <template v-slot:header="{}">
                  <thead class="data-tabel">
                    <tr>
                      <th>
                        <ButtnForm
                          :btn_form="reset"
                          :disabled="tabel"
                          @submitEvent="showAll"
                          :x_small="true"
                          :text="true"
                          :outlined="false"
                          :elevation="0"
                          :width="100"
                          :plain="false"
                          my_class="my-2 btn-class"
                          :icon="true"
                        />
                      </th>
                      <th class="pb-5">
                        <v-text-field
                          v-model="searchItems.search_user_name"
                          label="User Name"
                          single-line
                          hide-details
                          class="text-filde"
                        ></v-text-field>
                      </th>

                      <th class="pb-5">
                        <v-text-field
                          v-model="searchItems.search_last_name"
                          label="Last name"
                          single-line
                          hide-details
                        ></v-text-field>
                      </th>

                      <th class="pb-5">
                        <v-text-field
                          v-model="searchItems.search_first_name"
                          label=" first name"
                          single-line
                          hide-details
                        ></v-text-field>
                      </th>
                      <th>
                        <button @click="searchData">
                          <v-icon>
                            {{ path1 }}
                          </v-icon>
                        </button>
                      </th>
                    </tr>
                  </thead>
                </template>
                <template v-if="loading" v-slot:body="{ body }">
                  <thead>
                    <tr>
                      <th v-for="item in headers" :key="item.id">
                        <v-skeleton-loader type="text@1"> </v-skeleton-loader>
                      </th>
                    </tr>
                  </thead>
                </template>
                <template v-slot:item.path="{ item }">
                  <v-menu offset-y>
                    <template v-slot:activator="{ on }">
                      <v-btn icon v-on="on">
                        <v-icon color="white">{{ path }}</v-icon>
                      </v-btn>
                    </template>
                    <v-list class="data-tabel">
                      <v-list-item v-for="btn in action_btn" :key="btn.id">
                        <button>
                          <v-list-item-title
                            @click="
                              btn.fun(item.first_name + ' ' + item.last_name)
                            "
                          >
                            {{ btn.text }}
                          </v-list-item-title>
                        </button>
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </template>
              </v-data-table>
              <v-card>
                <div>
                  <div class="data-tabel">
                    <v-row>
                      <ButtnForm
                        :btn_form="Previous"
                        @submitEvent="previousPage"
                        :text="true"
                        :outlined="false"
                        :elevation="0"
                        :width="100"
                        :plain="false"
                        my_class="my-2 btn-class ml-5"
                        :disabled="currentPage === 1"
                      />
                      <h5 class="pt-4 px-3">
                        Page {{ currentPage }} of {{ totalPages }}
                      </h5>
                      <ButtnForm
                        :btn_form="next"
                        @submitEvent="nextPage"
                        :text="true"
                        :outlined="false"
                        :elevation="0"
                        :width="100"
                        :plain="false"
                        my_class="my-2 btn-class"
                        :disabled="currentPage === totalPages"
                      />
                    </v-row>
                  </div>
                </div>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </div>
    </v-img>
  </v-app>
</template>
    <script>
import { mdiMagnify } from "@mdi/js";

export default {
  inject: {
    theme: {
      default: { isDark: true },
    },
  },
  props: {
    headers: {
      type: Array,
      required: true,
    },
    items: {
      type: Array,
      required: true,
      default: () => [],
    },

    path: {
      type: String,
    },
    action_btn: {
      type: Array,
      required: true,
    },
    cal_culate_widths: {
      type: Boolean,
      default: true,
    },

    disable_pagination: {
      type: Boolean,
      default: false,
    },
    disablesort: {
      type: Boolean,
      default: false,
    },
    dark: {
      type: Boolean,
      default: false,
    },
    multisort: {
      type: Boolean,
      default: false,
    },
    must_sort: {
      type: Boolean,
      default: false,
    },
    dense: {
      type: Boolean,
      default: false,
    },
    disable_filtering: {
      type: Boolean,
      default: false,
    },
    fixed_header: {
      type: Boolean,
      default: false,
    },
    group_desc: {
      type: Boolean,
      default: false,
    },
    hide_default_footer: {
      type: Boolean,
      default: true,
    },
    hide_default_header: {
      type: Boolean,
      default: true,
    },
    light: {
      type: Boolean,
      default: false,
    },
    sort_desc: {
      type: Boolean,
      default: false,
    },
    show_expand: {
      type: Boolean,
      default: false,
    },
    show_group_by: {
      type: Boolean,
      default: false,
    },
    show_select: {
      type: Boolean,
      default: false,
    },
    single_expand: {
      type: Boolean,
      default: false,
    },
    single_select: {
      type: Boolean,
      default: false,
    },
    custom_filter: {
      type: Function,
    },
    check_box_color: {
      type: String,
      default: "green",
    },
    sort_by: {
      type: String,
      default: "",
    },
    selec_table_key: {
      type: String,
      default: "isSelectable",
    },

    no_results_text: {
      type: String,
      default: "$vuetify.dataIterator.no_results_text",
    },
    item_key: {
      type: String,
      default: "id",
    },
    item_class: {
      type: String,
      default: "dataTabel",
    },
    loading_text: {
      type: String,
      default: "در حال بروز رسانی ... لطفا صبر کنید",
    },
    items_per_page_alltext: {
      type: String,
      default: "$vuetify.dataFooter.items_per_pageAll",
    },
    item_style: {
      type: String,
      default: "",
    },
    expandicon: {
      type: String,
      default: "$expand",
    },
    caption: {
      type: String,
    },
    filter_mode: {
      type: String,
      default: "intersection",
    },

    locale: {
      type: String,
      default: "en-US",
    },

    custom_group: {
      type: Function,
    },
    custom_sort: {
      type: Function,
    },
    expanded: {
      type: Array,
    },

    footer_props: {
      type: Object,
    },
    header_props: {
      type: Object,
    },
    headers_length: {
      type: Number,
      default: 5,
    },
    height: {
      type: Number,
    },
    loader_height: {
      type: Number,
      default: 4,
    },
    server_items_length: {
      type: Number,
      default: -1,
    },
    mobile_break_point: {
      type: Number,
      default: 600,
    },
    page: {
      type: Number,
      default: 1,
    },
  },
  data() {
    return {
      loading: false,
      next: "next",
      all_data: null,
      tabel: true,
      paginet: [],
      all: [],
      currentPage: 1,
      items_per_page: 12,
      totalPages: null,
      reset: "reset",
      Previous: "Previous ",
      Next: "Next ",
      for_search: "search",
      error: "hmmmm....You did not search anything !",
      list: false,
      change: true,
      searchResults: [],
      path1: mdiMagnify,
      searchItems: {
        search_first_name: "",
        search_last_name: "",
        search_user_name: "",
      },
    };
  },
  computed: {
    loading() {
      return this.$attrs.items.length === 0;
    },
  },
  async mounted() {
    this.loading = true;
    const response = await this.$dataApi("user", "post", {
      headers: {
        Authorization: "Bearer " + localStorage.getItem("token"),
      },
    });
    this.all = response.data.data.model.data;
    this.all_data = response.data.data.model.total;
    this.totalPages = this.all_data / this.items_per_page;
    this.totalPages = Math.floor(this.totalPages);
    this.searchResults = this.all;
    this.$emit("update", this.searchResults);
    this.loading = false;
  },
  methods: {
    muno() {
      this.list = !this.list;
    },
    async showAll() {
      this.loading = true;
      const response = await this.$dataApi("user", "post", {
        headers: {
          Authorization: "Bearer " + localStorage.getItem("token"),
        },
      });
      this.all = response.data.data.model.data;
      console.log(this.all);
      this.searchResults = this.all;
      this.$emit("update", this.searchResults);
      this.searchItems.search_first_name = "";
      this.searchItems.search_last_name = "";
      this.searchItems.search_user_name = "";
      this.loading = false;
    },
    async searchData() {
      this.loading = true;
      const searchValue = {
        search_user_name: this.searchItems.search_user_name,
        search_first_name: this.searchItems.search_first_name,
        search_last_name: this.searchItems.search_last_name,
      };
      const data = {
        filters: {
          username: {
            op: "LIKE",
            value: "%" + searchValue.search_user_name + "%",
          },
          first_name: {
            op: "LIKE",
            value: "%" + searchValue.search_first_name + "%",
          },
          last_name: {
            op: "LIKE",
            value: "%" + searchValue.search_last_name + "%",
          },
        },
      };

      try {
        const response = await this.$dataApi("user", "post", data);
        const allResults = response.data.data.model.data;
        this.searchResults = allResults;

        if (this.searchResults.length > 0) {
          this.tabel = false;
        } else {
        }
        this.$emit("update", this.searchResults);
      } catch (error) {
        console.log(error);
        this.searchResults = [];
      }
      this.loading = false;
    },
    fetchpaginet() {
      this.loading = true;
      const params = {
        page: this.currentPage,
      };
      const data = {
        headers: {
          Authorization: "Bearer " + localStorage.getItem("token"),
          "Content-Type": "application/json",
        },
      };

      this.$dataApi("user", "post", data, params)
        .then((response) => {
          this.currentPage = response.data.data.model.current_page;
          this.paginet = response.data.data.model.data;

          this.$emit("changeValue", this.paginet);
        })

        .catch((error) => {
          console.error(error);
        });
      this.loading = false;
    },
    previousPage() {
      this.loading = true;
      if (this.currentPage > 1) {
        this.currentPage--;
        this.fetchpaginet();
      }
      this.loading = false;
    },
    nextPage() {
      this.loading = true;
      console.log(this.loading);
      if (this.currentPage < this.totalPages) {
        this.currentPage++;
        this.fetchpaginet();
      }
      this.loading = false;
      console.log(this.loading);
    },
  },
};
</script>
  <style>
.btn-class {
  background-color: #005d5747;
}
.data-tabel {
  background-color: #27272f;
}
.footer {
  background-color: #363640 !important;
  color: #bfbfbf !important;
}
h5 {
  color: #e2e2e2;
}
.theme--light.v-data-table
  tbody
  tr:hover:not(.v-data-table__expanded__content) {
  background: #014b4647 !important;
}
.theme--light.v-input input,
.theme--light.v-input textarea {
  color: rgb(210 210 210 / 87%);
}
.v-input__slot {
  color: #1c363a !important;
  border-color: #461d1d !important;
}
</style>