<template>
    <div>
      <v-container>
        <v-row>
          <v-col cols="12" md="12" sm="12">
            <v-text-field
              outlined
              :color="color"
              v-model="input_value"
              :class="[input_class]"
              @input="send_data"
              :required="required"
              :success-messages="success_messages"
              :placeholder="placeholder"
              @click:append="clicked"
              :label="label"
              :width="width"
              :dense="dense"
              :rules="rules_aryy"
              :error="error"
              :suffix="suffix"
              :counter="counter"
              :background-color="background_color"
              :dark="dark"
              :height="height"
              :hide-details="hide_details"
              :light="light"
              :readonly="readonly"
              :disabled="disabled"
              :success="success"
              :prepend-icon="prepend_icon"
              :messages="messages"
              :loading="loading"
              :hide-spin-buttons="hide_spin_buttons"
              :append-icon="append_icon"
              :error-count="error_count"
              :icon="icon"
              :type="type"
              :append-inner-icon="append_inner_icon"
              :error-messages="error_messages"
            >
            </v-text-field>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </template>
    
    <script>
  export default {
    props: {
      input_class: {
        type: String,
      },
      required: {
        type: Boolean,
        default: true,
      },
      type: {
        type: String,
        default: "text",
        required: true,
      },
      color: {
        type: String,
        default: "white",
        required: false,
      },
      icon: {
        type: String,
        default: "",
        required: false,
      },
      append_inner_icon: {
        type: String,
        default: "",
        required: false,
      },
      disabled: {
        type: Boolean,
        default: false,
      },
      hide_spin_buttons: {
        type: Boolean,
        default: false,
      },
      loading: {
        type: Boolean,
        default: false,
      },
  
      success_messages: {
        type: String,
        default: "",
      },
      error_messages: {
        type: String,
        default: "",
      },
      append_icon: {
        type: String,
        default: "",
      },
      error_count: {
        type: Number,
        default: 15,
      },
      messages: {
        type: String,
        default: "",
      },
      prepend_icon: {
        type: String,
        default: "",
      },
      counter: {
        type: Number,
      },
      placeholder: {
        type: String,
        default: "placeholder",
      },
      label: {
        type: String,
        default: "label",
      },
      readonly: {
        type: Boolean,
        default: false,
      },
      success: {
        type: Boolean,
        default: false,
      },
      dark: {
        type: Boolean,
        default: false,
      },
      hide_details: {
        type: Boolean,
        default: false,
      },
      light: {
        type: Boolean,
        default: false,
      },
  
      height: {
        type: Number,
  
        default: 50,
      },
      width: {
        type: Number,
  
        default: 100,
      },
      background_color: {
        type: String,
      },
      dense: {
        type: Boolean,
        default: true,
      },
      rules: {
        type: String,
      },
  
      error: Boolean,
      suffix: String,
    },
  
    data() {
      return {
        input_value: "",
        rules_aryy: [],
      };
    },
    // mounted() {
    //   this.rulesArray = [];
  
    //   const inpRules = this.$inpRules();
    //   this.rules.split(",").map((x) => {
    //     if (typeof inpRules[x] != "undefined") {
    //       this.rules_aryy.push(inpRules[x]);
    //     }
    //   });
    // },
    methods: {
      send_data() {
        this.$emit("v_model", this.input_value);
      },
      clicked() {
        this.$emit("clicked");
      },
    },
  };
  </script>
    
  
    <style >
  </style>