<template>
  <div>
    <v-row class="py-3 text-center bag_div pt-6" justify="center">
      <v-col clos="4">
        <v-row justify="start" class="px-6">
          <v-img
            src="https://sg-res.9appsdownloading.com/sg/res/jpg/0d/dc/0c1a94925f3958064ab5be03fef3-fh6.jpg?x-oss-process=style/hq"
            cover
            class="image"
          >
          </v-img>
          <h3 class="pt-5 pl-3">متین برنا</h3>
        </v-row>
      </v-col>
      <v-col clos="4">
        <h3>تاریخ امروز</h3>
      </v-col>
      <v-col clos="4">
        <v-row justify="end" class="mr-6">
          <v-img
            src="https://logo.com/image-cdn/images/kts928pd/production/75bbc1ddc2f2bfc418c7ba57c1dba5ab939a1e21-500x375.webp?w=640&q=72"
            cover
            class="image"
          >
          </v-img>
        </v-row>
      </v-col>
      <v-row>
        <v-col cols="10" class="text-center">
          <v-card class="py-4 ml-15 my-8">
            <v-row>
              <ul class="ul">
                <li>
                  <button>{{ esm }}</button>
                </li>
                <li>
                  <button>{{ esm }}</button>
                </li>
                <li>
                  <button>{{ esm }}</button>
                </li>
                <li>
                  <button>{{ esm }}</button>
                </li>
                <li>
                  <button>{{ esm }}</button>
                </li>
                <li>
                  <button>{{ esm }}</button>
                </li>
                <li>
                  <button>{{ esm }}</button>
                </li>
                <li>
                  <button>{{ esm }}</button>
                </li>
                <li>
                  <button>{{ esm }}</button>
                </li>
                <li>
                  <button>{{ esm }}</button>
                </li>
                <li>
                  <button>{{ esm }}</button>
                </li>
                <li>
                  <button>{{ esm }}</button>
                </li>
                <li>
                  <button>{{ esm }}</button>
                </li>
                <li>
                  <button>{{ esm }}</button>
                </li>
                <li>
                  <button>{{ esm }}</button>
                </li>
              </ul>
            </v-row>
          </v-card>
        </v-col>
        <v-col cols="2" class="text-end mt-5">
          <v-text-field
            label="... جست و جوی منو "
            single-line
            hide-details
          ></v-text-field>
        </v-col>
      </v-row>
    </v-row>
    <hr />
    <v-row class="bag_div2 mx-4 px-3 py-3">
      <v-col class="text-start" cols="6">
        <v-row class="pt-4">
          <BtnCom :name_btn="a" my_class="btn-class" width="100" />
          <BtnCom :name_btn="b" my_class="btn-class" width="100" />
          <BtnCom :name_btn="c" my_class="btn-class" width="100" />
          <BtnCom :name_btn="d" my_class="btn-class" width="100" />
          <BtnCom :name_btn="e" my_class="btn-class" width="100" />
        </v-row>
      </v-col>
      <v-col cols="6" class="text-end"><h3>نوبت ها / نوبت ها</h3></v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  data() {
    return {
      a: "لیست نوبت",
      b: "نوبت های پرداخت شده",
      c: "نوبت های پرداخت نشده",
      d: "نوبت های لغو شده",
      e: "تراکنش های اینترنتی",
      esm: " < سبد ",
    };
  },
};
</script>

<style >
.color_h {
  color: #92adad;
  font-size: 40px;
}
.color_link {
  color: #92adad;
}
h3 {
  color: #ffffff;
}
.bag_div {
  background-image: linear-gradient(to bottom, #710660, #1d1717);
}
.bag_div2 {
  background-color: #710660;

  border-radius: 5px;
}
.btn-class {
  background-color: #ac57a5;
}
.class_color {
  color: #00dc82;
}
.pp {
  color: #014741;
  font-size: 12px;
}
.class_bg_color {
  background-color: #00dc82;
  border-radius: 1000px;
}
.body-bg {
  background-color: #012a35;
}
.image {
  max-height: 60px;
  max-width: 60px;
  border-radius: 100%;
}
hr {
  border: 10px solid;
  color: #ffffff;
}
li {
  font-size: 18px;
  margin: 0px 18px 0px 18px;
}
input,
select,
textarea {
  background-color: #00000000 !important;
  border-style: none;
}

</style>